@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #ffcccb;
    /* background-image: url('back.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
@keyframes fall {
    from { transform: translateY(-50px); opacity: 1; }
    to { transform: translateY(100vh); opacity: 0; }
}

.falling-star {
    position: absolute;
    font-size: 40px;
    color: gold;
    top: -50px;
    animation: fall linear infinite;
}


/* Nagłówek */
h1 {
    font-size: 26px;
    color: #d63384;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Kontener na przyciski */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Styl przycisków */
button {
    width: 80%;
    max-width: 300px;
    font-size: 20px;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.yes {
    background-color: #4CAF50;
    color: white;
}

.yes:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.no {
    background-color: #f44336;
    color: white;
}

.no:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.butterfly {
    position: absolute;
    font-size: 30px;
    animation: none;
    pointer-events: none; /* Żeby nie przeszkadzały w klikaniu */
}


/* Dostosowanie do telefonów */
@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    .buttons {
        width: 100%;
    }

    button {
        width: 70%;
    }
}
